<link rel="import" href="../polymer/polymer.html"/>
<script src="lib/i18next-1.5.9.min.js"></script>


<dom-module id="x-custom">
    <template>
        <style>
            :host{
              display:block;
            }
            #selector{
                font-size: 28px;
                width: 200px;
            }
            p{
                font-size: 20px;
            }
            .btn{
                padding: 10px;
                border-radius: 5px;
                border:none;
                font-size: 15px;
                color: #ffffff;;
            }
            .saveBtn{
                background-color: forestgreen;
            }
            .deleteBtn{
                background-color: brown;
            }
        </style>


        <div style="margin: 0 auto;width: 500px;padding-top: 30px;">
            <select id="selector" on-change="changeHandle">
                <option selected value="en">English</option>
                <option value="es">Spanish</option>
                <option value="fr">French</option>
            </select>

              <p>[[student]]</p>
              <p>[[instructor]]</p>


              <p><button class="btn saveBtn">[[save]]</button>
                  <button class="btn deleteBtn">[[delete]]</button>
              </p>


        </div>

    </template>
    <script>

        (function(){
            'use strict'
            window.addEventListener('WebComponentsReady',function(){
                Polymer({
                    is:'x-custom',

                    changeHandle:function(){

                        console.log("selected value : "+this.$.selector.value);
                        var selLang = this.$.selector.value;
                        i18n.setLng(selLang);
                        this.initInternationalization(selLang);
                    },
                    ready:function(){

                        console.log(this.localName+" is ready to work...");
                        console.log("selected value : "+this.$.selector.value);
                    },
                    initInternationalization:function(){

                        var that=this;
                        var browserLanguage = navigator.language || navigator.userLanguage;
                        console.log("Browser Language --> "+browserLanguage);

                      i18n.init({
                          lng: browserLanguage,
                          resGetPath: 'locales/__lng__/__ns__.json'/*resGetPath: 'locales/__ns__-__lng__.json'*/
                      },function(t){

                          that.save = i18n.t('app.actions.save');
                          that.delete = i18n.t('app.actions.delete');
                          that.student = i18n.t('app.role.student');
                          that.instructor = i18n.t('app.role.instructor')

                      });
                    },
                    attached:function(){
                      console.log(this.localName+" is attached");



                            this.initInternationalization();


                    }
                });
            });

        }());
    </script>
</dom-module>